html, body {
	width: 100%;
	max-width: 100%;
	min-width: 320px;
	margin:0;
	padding:0;
	
}

body {
	font: 17px Arial, Microsoft YaHei;
	color: #444;
	word-wrap: break-word;
	background: #fff;
}

a {
	text-decoration: none;
}

.container {
	width:96%;
	max-width: 1300px;
	margin:0 auto;
	padding:0;	
}
.clearboth{
	clear:both;	
	}
.h20{
	height:20px;
	}		
/*主標題*/
.title1 {
	width:100%;
	text-align:center;
	line-height:46px;
	font-size:26px;
	letter-spacing: 4px;
	margin-top:25px;
	}
.title-line {	
    width: 18%;
	max-width: 100px;
	height:1px;
	background-color: #666;
	display:inline-block;
	margin: 0 12px;
}
/*頁尾*/
.footer{
	width:100%;
	text-align:center;
	color: #ddd;
	background: #555;
	padding:25px 0;
	margin-top: 25px;
	}
@media (max-width:800px) {
.title1 {
	line-height:38px;
	font-size:22px;
	}	
.footer{
	padding:15px 0;
	margin-top: 0px;
	}
}

/*首頁--index.html */
/*熱門商品*/
.hotpro-mask {
    position: absolute;
	padding:0;
	top:0;
    width: 100%;
    height: 100%;
	text-align:center;
	opacity:0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

#hotpro:hover .hotpro-mask {
    opacity: 100;
}
#hotpro {
	width:24.5%;
	margin:5px 0.25%;
	padding:0;
	float:left;
	text-align:center;
	position: relative;
    overflow: hidden;	
}
.pleft {
  text-align:left;
  margin: 0 auto;
  font-size:18px;
  width:90%;
  line-height:30px;
}
.pleft > .txt, .pleft > .txt2, .pleft > .txt3  {
	height:30px;
	width:100%;
    overflow:hidden;
}
.pleft > .txt2 {
	font-size:17px;
	color: #666;
}
.pleft > .txt3 {
	font-size:16px;
	color: #888;
}
#hotpro img.pro{
	width:100%;
	margin-bottom:10px;
}
#hotpro > .price{
	line-height:40px;
	font-size: 22px;
	color:#F33;
	display:block;
	padding-bottom:5px;
}
#hotpro > .price2{
	font-size: 22px;
	color:#F33;
	display:block;
	padding-bottom:30px;
}
#hotpro .hotpro-mask {
    background: rgba(0,0,0,.1);
	border-radius: 4px;
	
}
.icon{
	width:24%;
	max-width: 45px;
	margin: 85% 10px 0 10px;
	border-radius:999em;
	background: rgb(0,0,0,0.6);
	
}
.icon:hover{
	background: rgb(0,0,0,0.9);
	
}

/*社群*/
.dlink{
   position:fixed; 
   bottom: 10px; 
   right:20px;
   width:50px;
}
.dlink img{
	width:50px;
	margin-bottom:10px;
	-webkit-filter:brightness(1);
}
.dlink img:hover{
	-webkit-filter:brightness(1.2);
}
/*分類*/
.procategory {
	width:32.8%;
	margin:15px 0.25%;
	float: left;
	background:#cd3261;
	text-align:center;
	line-height:30px;
	letter-spacing:5px;
	padding-bottom:4px;
	color:#fff;
}
.procategory:hover{
	background:#ba2451;
}
.procategory img{
	width:100%;
	-webkit-filter:brightness(1.1);
}
.procategory img:hover{
	width:100%;
	-webkit-filter:brightness(1.2);
}

@media (max-width:800px) {
#hotpro {
	width:49.5%;
	margin:5px 0.25%;
}
/*社群*/
.dlink{
   position: inherit;
   margin-top:20px;
   right: auto;
   width:100%;
   text-align:center;
   background: #555;
}
.dlink img{
	width:40px;
	margin:15px 15px 0 15px;
	border-radius:999em;
}
}

@media (max-width:500px) {
.icon{
	margin: 70% 6px 0 6px;
	
}
/*分類*/
.procategory {
	width:100%;
	margin:20px 0 0 0;
}

}



/*商品列表--prolist.html */
.morep{
	letter-spacing:0px;
	line-height:34px;
	border-radius:18px;
	width:10%;
	float: right;
	margin-top:26px;
	font-size:18px;
	border: 1px #999 solid;
	text-align:center;
}
.morep:hover{
	background:#666;
	border: 1px #666 solid;
	color:#fff;
}
.title_pro {
	width:78%;
	text-align:center;
	line-height:46px;
	font-size:26px;
	letter-spacing: 4px;
	margin:20px 0 0 10%;
	float:left;
	}
.title_pro-line {	
    width: 16%;
	max-width: 100px;
	height:1px;
	background-color: #666;
	display:inline-block;
	margin: 0 12px;
}

.line1{
	width:100%;
	height:5px;
	background-color: #eee;
	margin-top:20px;
	}
@media (max-width:800px) {

/*社群*/
.morep{
	width:25%;
	margin:15px 0 5px 0;
}
.title_pro {
	width:48%;
	line-height:38px;
	font-size:22px;
	letter-spacing: 4px;
	margin:15px 0 5px 25%;
	}
.title_pro-line {	
	display:none;
	}
.line1{
	height:1px;
	background-color: #ccc;
	}
}